@model IEnumerable<string>
@{ 
    ViewBag.Title = "MyWebApplication";
}

<div class="jumbotron">
    <h3>Select File</h3>
    <ul>
        @foreach (var file in Model)
        {
            <li>@Html.ActionLink(file, "Index", "Viewer", new { file = file }, null)</li>
        }
        <li>@Html.ActionLink("GroupDocs Logo", "Index", "Viewer", new { url = "https://cms.admin.containerize.com/templates/groupdocs/img/svg/groupdocs-logo.svg" }, null)</li>
    </ul>
</div>