@model IEnumerable<string>
@{ 
    ViewBag.Title = "MyWebApplication";
}

<div class="jumbotron">
    <h3>Select File</h3>
    <ul>
        @foreach (var file in Model)
        {
            <li>@Html.ActionLink(file, "Index", "Viewer", new { f = file }, null)</li>
        }
        <li>@Html.ActionLink("Community Pricing", "Preview", "Viewer", new { url = "https://localhost:44396/Community/CommunityPricing" }, null)</li>
    </ul>
</div>